*
{
    background-color: transparent;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white
}

html, body
{
    overflow: hidden;
}

h1
{
    font-size: 4em;
    text-align: center;
}
p{
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}
h2
{
    font-weight: 100;
}

main
{
    position:absolute;
    margin: 1em; 
    max-width: 70vw; /*doesn't overflow, mobile responsiveness*/
    z-index: 0;
    background: transparent;

}

.webgl
{
    /* position: fixed;
    top: 0;
    left: 0; */
    position:absolute;
    z-index: -1;
    outline: none;
}


.socialicon{
    width:3em;
    height:3em;
    margin:0.5em;
}
.socialicon:hover{
    opacity:0.8;
} 